<%% form_for(@<%= singular_name %>) do |f| %>
  <%%= f.error_messages %>

<% for attribute in attributes -%>
  <p>
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </p>
<% end -%>

  <p class="buttons">
    <%%= f.submit f.object.new_record? ? 'Create' : 'Update' %>
    <%%= link_to_function 'Cancel', "$(this).parent('form').remove();" if request.xhr? %>
    <%%= image_tag 'spinner.gif', :style => 'display:none', :class => :spinner %>
  </p>
<%% end %>
